Checks:            '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm*,-clang-diagnostic-error'
WarningsAsErrors:  '*'
HeaderFilterRegex: ''
FormatStyle:       none
